@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 569.8px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 0px;
	background: #FFFFFF url("../images/img01.jpg") repeat left top;
}

#page_position_content
{
	margin-bottom: 298px;
}

#u1271
{
	z-index: 4;
	width: 380px;
	padding-bottom: 11px;
}

#u1272
{
	z-index: 5;
	width: 413px;
	margin-right: -10000px;
	margin-top: 10px;
}

#u1269
{
	z-index: 2;
	width: 171px;
	margin-left: 214px;
	margin-top: 21px;
}

#u1278-4
{
	z-index: 7;
	width: 312px;
	min-height: 29px;
	margin-left: 33px;
	margin-top: 119px;
}

#page .verticalspacer
{
	clear: both;
}

