#u1271
{
	border-style: none;
	border-color: transparent;
	background-color: #A2A2A2;
	position: relative;
}

#u1272,#u1269
{
	position: relative;
}

#u1278-4
{
	font-size: 18px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

