#u1264
{
	border-style: none;
	border-color: transparent;
	background-color: #A2A2A2;
	position: relative;
}

#u1265,#u1262
{
	position: relative;
}

#u1277-4
{
	font-size: 15px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

